
@import "../lib/bootstrap-4.5.0/scss/bootstrap.scss";


html, body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

body {
    overflow: auto;
}

#page {
    height: 100%;
    display: grid;
    background-color: #f5f5f5;
}

/* Prevent number field inline buttons */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}