
@import "../lib/bootstrap-5.0.0-alpha1/scss/bootstrap.scss";


html, body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

body {
    overflow: auto;
}

#page {
    display: grid;
    grid-template-rows: auto 100fr auto;
    background-color: #f5f5f5;
}