@*
    This page is the landing page for all visitors.
*@

@section Styles {
    <link rel="stylesheet" href="~/styles/landing.css" />
}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">We Do Western</h1>
        <p class="lead font-weight-normal">All sorts of apparel to suit your needs.</p>
        @*<a class="btn btn-outline-secondary" href="#">Coming soon</a>*@
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Hats</h2>
            <p class="lead">They go on your head.</p>
        </div>
        <p style="font-size: 12rem">🤠</p>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Boots</h2>
            <p class="lead">For all of your feet.</p>
        </div>
        <p style="font-size: 12rem">👢</p>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Jeans</h2>
            <p class="lead">Just jeans.</p>
        </div>
        <p style="font-size: 12rem">👖</p>
    </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Shades</h2>
            <p class="lead">Imagine these are somehow western 🤷‍</p>
        </div>
        <p style="font-size: 12rem">😎</p>
    </div>
</div>
