<footer class="border-top footer text-muted">
    <div class="container d-flex justify-content-between p-2">
        <span>
            Western Apparel - Jonathan Acampora &copy; 2020 - <u>ALL RIGHTS RESERVED</u>
        </span>
        <span class="text-right">
            THIS SITE IS DEMONSTRATIONAL, NO GOODS OR SERVICES WILL BE EXCHANGED
        </span>
    </div>
</footer>