
<div id="page" style="grid-template-rows: 100fr">
    <form class="form-signin" asp-controller="Account" asp-action="RegisterView">
        <h1 class="h3 font-weight-normal mb-4">Welcome</h1>
        <p class="mb-2 text-muted">Enter your preferred credentials</p>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password">
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password">
        <div class="custom-control custom-checkbox mt-4 mb-4">
            <input type="checkbox" class="custom-control-input" id="remember-me-checkbox">
            <label class="custom-control-label user-select-none has-tooltip" for="remember-me-checkbox" title="Stay logged after you close this window">Remember me</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <p class="mt-3 mb-3 text-muted">Western Apparel © 2020</p>
    </form>
</div>

@section Styles {
    <link rel="stylesheet" href="~/styles/login.css" />
}

@section Scripts {
    <script>
        $(function () {
            $('.has-tooltip').tooltip();
        });
    </script>
}
